__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/

.venv/
venv/
env/

*.SMP
*.smp
*.XLS
*.xls
*.xlsx
*.PDF
*.pdf
*.csv

!requirements.txt

*.log
*.tmp
~$*

build/
dist/
*.spec

assets/*.png
assets/mercury-smp-app.ico
!assets/mercury-smp-app-flat-wetting.ico
